.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-container {
  margin-right: 10px; /* Adjust spacing between input and button */
}

.search-button {
  margin-top: 0;
  margin-bottom: 0;
}