

<main class="main">
  <div class="left side">
    <div class="upper-left">
      <h1 class="temperature-text">{{ temperature }}°C</h1>
    </div>
    <div class="lower-left">
      <app-search-bar (searchCity)="handleSearch($event)" class="search-bar"></app-search-bar>
    </div>
  </div>
  <div class="right-side">
    <div class="upper-right">
      <table class="info-table">
        <tr>
          <td>City:</td>
          <td>{{ city }}</td>
        </tr>
        <tr>
          <td>Date:</td>
          <td>{{ date }}</td>
        </tr>
        <tr>
          <td>Hour:</td>
          <td>{{ hour }}</td>
        </tr>
      </table>
    </div>
    <div class="lower-right">
      <p class="weather-description">{{ weatherDescription }}</p>
      <img src={{icon_code}} alt = "weather icon" class = "weather-icon">
    </div>
  </div>
</main>

<router-outlet />
