

<main class="main">
  <div class="left side">
    <div class="upper-left">
      <h1 class="temperature-text">{{ temperature }}°C</h1>
    </div>
    <div class="lower-left">
      <app-search-bar (searchCity)="handleSearch($event)" class="search-bar"></app-search-bar>
    </div>
  </div>
  <div class="right-side">
    <div class="upper-right">
      <h2>City: {{ city }}</h2>
      <p>Date: {{ date }}</p>
      <p>Hour: {{ hour }}</p>
    </div>
    <div class="lower-right">
      <p class="weather-description">{{ weatherDescription }}</p>
    </div>
  </div>
</main>


<router-outlet />
